.dropdown-holder{
    display: flex;
    justify-content: end;
}
.code-holder{
    display: flex;
    height: 80%;
}

/* .rich-text h2 {
    font-size: 1.5rem !important;
    line-height: 3rem;
}
 */
